<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원 목록</title>
<link rel="stylesheet" href="/css/style.css">
<style>

</style>
</head>
<body>
	<div th:replace="navbar.html"></div>
	<h3>회원 목록</h3>
	<table id="productTable" class="table table-bordered">
		<thead>
			<tr>
				<th>ID</th>
				<th>아이디</th>
				<th>이름</th>
				<th>이메일</th>
				<th>액션</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="member : ${members}">
				<td th:text="${member.id}"></td>
				<td th:text="${member.memberId}"></td>
				<td th:text="${member.memberName}"></td>
				<td th:text="${member.memberEmail}"></td>
				<td><a th:href="@{/member/memberDetail/{id}(id=${member.id})}">상세보기</a>
					<a th:href="@{/member/update/{id}(id=${member.id})}">수정</a> <a
					th:href="@{/member/delete/{id}(id=${member.id})}">삭제</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>