<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>제품 상세 정보</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
<style>
.product-intro {
	text-align: center;
}

.product-info th {
	width: 33.33%;
}

.product-info td {
	width: 66.67%;
}
p {
	color: black;
}
</style>
</head>
<body>
	<div th:replace="navbar.html"></div>
	<div class="container mt-4"><br>
		<h2>제품 상세 정보</h2>
		<div class="row">
			<div class="col-md-4">
				<img class="img-fluid"
					th:src="@{/img/product/{imagePath}(imagePath=${product.productImagePath})}"
					alt="제품 이미지" />
			</div>
			<div class="col-md-8">
				<table class="table table-bordered">
					<tr>
						<th>제품명</th>
						<td th:text="${product.productName}"></td>
					</tr>
					<tr>
						<th>가격</th>
						<td th:text="${product.productPrice}"></td>
					</tr>
					<tr>
						<th>제품 카테고리</th>
						<td th:text="${product.productCategory}"></td>
					</tr>
					<tr>
						<th>추천 퍼스널컬러</th>
						<td th:text="${product.productColor}"></td>
					</tr>
					<tr>
						<th>제품 성분</th>
						<td th:text="${product.productIngredient}"></td>
					</tr>
					<tr>
						<th>제품 소개</th>
						<td th:text="${product.productIntro}"></td>
					</tr>
				</table>
			</div>
		</div>
		
		<br> <a href="/products/productView" class="btn btn-primary">제품
			목록으로 돌아가기</a>
		<form id="addToCartForm" method="post">
			<input type="hidden" name="productId" th:value="${product.productId}" />
			<input type="hidden" name="quantity" value="1" />
			<button type="submit" class="btn btn-success ml-2">장바구니에 담기</button>

		</form>
		<form id="compareForm" method="post"
			th:action="@{/products/compare/add}">
			<input type="hidden" name="productId" th:value="${product.productId}" />
			<button type="submit" class="btn btn-success ml-2">제품 비교하기</button>
		</form>

	</div>

	<script>
        document.addEventListener('DOMContentLoaded', function() {
            const form = document.getElementById('addToCartForm');
            form.addEventListener('submit', function(event) {
                event.preventDefault();

                const token = getCookie('jwtToken');
                if (token) {
                    const productId = document.querySelector('input[name="productId"]').value;
                    const quantity = document.querySelector('input[name="quantity"]').value;

                    fetch('/cart/add', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer ' + token
                        },
                        body: JSON.stringify({ productId, quantity })
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.success) {
                            alert('제품이 장바구니에 추가되었습니다.');
                            location.reload(); // 페이지를 새로고침하여 업데이트
                        } else {
                            alert('제품을 장바구니에 추가하는 중 오류가 발생했습니다.');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('제품을 장바구니에 추가하는 중 오류가 발생했습니다.');
                    });
                } else {
                    alert('로그인이 필요합니다.');
                    window.location.href = '/login';
                }
            });

            function getCookie(name) {
                const value = `; ${document.cookie}`;
                const parts = value.split(`; ${name}=`);
                if (parts.length === 2) return parts.pop().split(';').shift();
                return null;
            }
        });
    </script>
</body>
</html>
