<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>제품 상세 정보</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div th:replace="navbar.html"></div>
	<br>
    <h2>제품 상세 정보</h2>
    <table border="1">
        <tr>
            <th>제품 ID</th>
            <td th:text="${product.productId}"></td>
        </tr>
        <tr>
            <th>제품명</th>
            <td th:text="${product.productName}"></td>
        </tr>
        <tr>
            <th>가격</th>
            <td th:text="${product.productPrice}"></td>
        </tr>
        <tr>
            <th>등록일</th>
            <td th:text="${product.productRegisdate}"></td>
        </tr>
        <tr>
            <th>제품 소개</th>
            <td th:text="${product.productIntro}"></td>
        </tr>
        <tr>
            <th>제품 카테고리</th>
            <td th:text="${product.productCategory}"></td>
        </tr>
        <tr>
        <tr>
            <th>추천 퍼스널컬러</th>
            <td th:text="${product.productColor}"></td>
        </tr>
        <tr>
            <th>제품 성분</th>
            <td th:text="${product.productIngredient}"></td>
        </tr>
        
            <th>제품 이미지</th>
            <td><img th:src="@{/img/product/{imagePath}(imagePath=${product.productImagePath})}" /></td>
        </tr>
    </table>
    <br>
    <a href="/products/productList">제품 목록으로 돌아가기</a>
</body>
</html>
