<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>전체 장바구니 목록</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div th:replace="navbar.html"></div>
    <div class="container mt-4">
        <h2>전체 장바구니 목록</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>장바구니 ID</th>
                    <th>회원 ID</th>
                    <th>작업</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cart : ${carts}">
                    <td th:text="${cart.cartId}">장바구니 ID</td>
                    <td th:text="${cart.memberId}">회원 ID</td>
                    <td>
                        <a th:href="@{/cart/{memberId}(memberId=${cart.memberId})}">상세보기</a>
                     <!--    <a th:href="@{/cart/update/{cartId}(cartId=${cart.cartId})}">수정</a>
                        <a th:href="@{/cart/delete/{cartId}(cartId=${cart.cartId})}" th:onclick="return confirm('정말 삭제하시겠습니까?');">삭제</a> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
