<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 주문 목록</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div th:replace="~{navbar.html}"></div>
    <div class="container mt-4">
        <h2>회원 주문 목록</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>주문 ID</th>
                    <th>회원 이름</th>
                    <th>주문 금액</th>
                    <th>주문 상태</th>
                    <th>결제 날짜</th>
                    <th>상세보기</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order : ${orders}">
                    <td th:text="${order.orderId}">주문 ID</td>
                    <td th:text="${order.member.memberName}">회원 이름</td>
                    <td th:text="${order.orderAmount}">주문 금액</td>
                    <td th:text="${order.paymentStatus}">주문 상태</td>
                    <td th:text="${order.payment != null ? order.payment.paymentDate : 'N/A'}">결제 날짜</td>
                    <td>
                          <a th:href="@{/payments/{orderId}/detail(orderId=${order.orderId})}" class="btn btn-primary">상세보기</a>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
